<div class="container-fluid">

  <h1>DOTA DEX</h1>

  <h3>List of live matches</h3>
  <% @matches.first(10).each do |m| %>
    <div class="row">
      <% if m.radiant.players.any? %>
        <div class="col-md-6">
          <h4>Radiant Team</h4>
          <div class="row">
            <% m.radiant.players.each do |player| %>
              <div class="col-md-2">
                <% if player.hero.name  %>
                  <image src="<%= player.hero.image_url %>" width="100px" />
                <% else %>
                  Selecting Hero...
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Dire Team</h4>
          <div class="row">
            <% m.dire.players.each do |player| %>
              <div class="col-md-2">
                <% if player.hero.name  %>
                  <image src="<%= player.hero.image_url %>" width="100px" />
                <% else %>
                  Selecting Hero...
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
